<?xml version="1.0"?>

<model>
  <name>Jackal</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Carson Kohlbrenner</name>
    <email>carson.kohlbrenner@gmail.com</email>
  </author>

  <description>
    Jackal with an AR Tag on top
  </description>

</model>
